button {
  color: #46a3a2;
  border: 2px solid #46a3a2;
  background-color: #ffffff;
  padding: 15px 45px;
  transition: all .2s ease-in-out;
  margin: 0 auto;

  &:hover {
    color: #ffffff;
    background-color: #46a3a2;
  }
}