@use "../../../App.scss" as s;
@import '../../../styles/breakpoints.scss';

#section7 {
  .cta-banner {
    display: flex;
    flex-direction: column;
    gap: s.$m;
    background: linear-gradient(135deg, s.$medium-blue, s.$dark-blue);
    padding: s.$xl;
    text-align: center;
    color: s.$white;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);

    h3 {
      color: s.$white;
    }

    p {
      color: s.$white;
    }
  }
}

@media screen and (max-width: $tablet) {
  #section7 {
    .cta-banner {
      padding: s.$l;
    }
  }
}

@media screen and (max-width: $mobile) {
  #section7 {
    .cta-banner {
      padding: s.$l s.$m;
    }
  }
}

