@use "../../app.scss" as s;

#resume {
  .home-inner-content {
    display: flex;
    gap: 30px;

    .left-info-banner {
      background-color: s.$medium-blue;
      max-width: 226px;
      padding: 20px;
      margin-bottom: 10px;
      button {
        padding: inherit;
      }
    }
  }

  .home-inner-container {
    @include s.content;
    max-width: 340px;

    h5 {
      color: s.$ultra-dark-blue;
      margin: 20px 0;
      font-size: 14px;
      text-transform: uppercase;
    }

    &__centered {
      @include s.container;
    }
  }
}