@use "../../app.scss" as s;

#resume {
  .home-inner-content {
    display: flex;
    gap: 30px;

    .left-info-banner {
      background-color: s.$medium-blue;
      flex: 0;
      -ms-flex-preferred-size: calc(40% - 18px);
      flex-basis: calc(40% - 18px);
      max-width: calc(40% - 18px);
      padding: 25px 20px 20px;
      margin-bottom: 10px;
      
      button {
        display: block;
        padding: 15px;
      }

      h5 {
        padding: 5px 0 5px 10px;
        margin: 0 0 10px;
        background-color: s.$white;
        color: s.$dark-blue;
        font-size: 14px;
        text-transform: uppercase;
      }

      p {
        color: s.$white;
        text-align: center;
      }
    }

    .home-inner-container {
      max-width: 340px;
      margin-top: 10px;
  
      h5 {
        color: s.$dark-blue;
        margin: 20px 0;
        font-size: 14px;
        text-transform: uppercase;
      }
  
      &__centered {
        @include s.container;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #resume {
    .home-inner-content {
      display: block;

      .left-info-banner, .home-inner-container {
        max-width: 100%;
      }
    }
  }
}
