@use "../../app.scss" as s;

#contact {
  a {
    color: s.$medium-blue;
    font-size: 100%;
    line-height: 1.7em;
    font-weight: 500;

    &:hover {
      color: s.$light-blue;
    }

    &:active, &:focus, &.active {
      color: s.$light-blue;
    }
  }

  .contact-image-container {
    position: relative;
    margin: 15px 0 30px;

    .contact-logo {
      position: absolute;
      top: 0;
      left: 0;
      height: 100px;
      padding: 30px;
    }

    .contact-me-text {
      position: absolute;
      top: 130px;
      left: 0;
      padding: 30px;
      z-index: 1000;
      width: 50%;
      
      p {
        color: s.$dark-gray;
        font-size: 0.83em;
        line-height: 1.1rem;
      }
    }

    .contact-image {
      width: 100%;
    }
  }
}