@use "../../../app.scss" as s;
@import '../../../styles/breakpoints.scss';

#home {
  .home-inner-content {
    @include s.content;
  }

  .home-inner-container {
    @include s.container;

    &.title-container {
      max-width: calc(50% - 15px);
    }

    &__centered {
      @include s.container;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      // margin: 0 auto;

      p, button {
        margin-bottom: 30px;
      }

      .home-inner-text {
        max-width: 290px;
        margin: 0 auto;
      }
    }

    h2 {
      margin-right: 30px;
    }

    h5 {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $desktop) {
  #home {
    // .home-inner-container {
    //   &.title-container {
    //     max-width: 100%;
    //   }
    // }
    .home-inner-container {
      display: block;

      .title-button {
        display: none;
      }

      h2 {
        margin-right: 0;
        max-width: 100%;
      }
    }
  }
}
