@use "../../../app.scss" as s;

#image-header {
  position: relative;
  height: 550px;
  margin-bottom: s.$l * 2;

  @keyframes zoom-in {
    0% {
      transform: scale(1.6);
    }
    100% {
      transform: scale(1);
    }
  }

  .body-image-over {
    position: absolute;
    z-index: 2;
    left: -320px;
    top: 0;
    width: 100vw;
    bottom: 0;

    .image-scale-helper {
      height: 110%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        animation: zoom-in 30s linear;
      }
    }

    .body-image-text {
      position: absolute;
      top: calc(50% - 45px);
      right: 0;
      left: 320px;
      z-index: 3;
      display: flex;
      justify-content: center;

      .inner-text {
        color: s.$white;
        max-width: 55%;
        text-align: right;
        overflow-wrap: break-word;

        h1 {
          text-align: left;
          color: s.$white;
          margin: 0;
          font-size: 55px;
        }

        h1,
        p {
          padding-right: s.$l;
          padding-left: s.$l;
        }
      }
    }
  }
}

@media screen and (max-width: s.$desktop) {
  #image-header {
    .body-image-over {
      .body-image-text {
        top: calc(50% - 45px);
        right: 0;
        left: 320px;
        justify-content: left;

        .inner-text {
          max-width: 70%;

          h1 {
            font-size: 3em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: s.$tablet) {
  #image-header {
    .body-image-over {
      left: -30px;
      .body-image-text {
        left: 0;
        .inner-text {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: s.$small-mobile) {
  #image-header {
    .body-image-over {
      left: -15px;
      .body-image-text {
        .inner-text {
          h1 {
            font-size: 2em;
          }

          h1,
          p {
            padding-right: s.$m;
            padding-left: s.$m;
          }
        }
      }
    }
  }
}
