@import 'styles/style';

body {
  font-family: "Noto Sans Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $medium-gray;
  background-color: $lighter-gray;
  font-size: 16px;
  font-weight: 500;
}

.App {
  width: 100vw;
}

p, h1, h2, h3, a {
  margin-top: 0;
}

h1 {
  // font-size: 55px;
  // font-size: 1.1rem;
  // line-height: 0.7rem;
  font-size: 45px;
  line-height: 1;
  font-family: 'Raleway';
  font-weight: 600;
  color: $dark-gray;
  text-transform: uppercase;
}

h2 {
  // font-size: 1.1rem;
  // font-size: 45px;
  // line-height: 0.7rem;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: $dark-gray;
  text-transform: uppercase;
}

h3 {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
  line-height: 0.7rem;
  font-weight: 500;
  color: $dark-gray;
}

h5 {
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  color: $dark-gray;
  text-transform: capitalize;
  margin: 0 0 15px;
}

h6 {
  font-size: 0.83em;
  line-height: 1.1rem;
  font-weight: 500;
  color: $medium-blue;
  margin: 0 0 15px 0;
}

button {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  font-size: 0.9em;
  // font-size: 14px;
  line-height: 1.7rem;
}

a {
  font-size: .75rem;
  line-height: 25px;
  font-weight: bold;
  color: $light-gray;
  text-decoration: none;
  outline: none;

  &:hover {
    color: $darker-gray;
  }

  &:active, &:focus, &.active {
    color: $darker-gray;
  }
}

@mixin content {
  margin-top: calc(50px + 500px);
}

@mixin container {
  display: flex;
  padding: 100px 0 50px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.2em;
  }

  // p {
    // font-size: 12px;
  // }
}

@media screen and (max-width: 768px) {
  @mixin content {
    margin-top: calc(50px + 500px);
  }

  @mixin container {
    display: block;
  }
}

// .page {
//   container: summary / inline-size;
// }

// @container summary {
//   margin-top: calc(50px + 500px);
//   // display: flex;
//   // padding: 100px 0 50px;
//   // overflow-wrap: break-word;

//   .content {
//     // container: content / inline-size;
//     display: flex;
//     padding: 100px 0 50px;
//     overflow-wrap: break-word;
//   }
// }

// @media screen and (max-width: 768px) {
//   margin-top: calc(50px + 500px);
//   // display: flex;
//   // padding: 100px 0 50px;
//   // overflow-wrap: break-word;

//   .content {
//     display: block;
//   }
// }