body {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #7d7d7b;
  background-color: #e0e0e0;
  font-size: 16px;
}

.App {
  width: 100vw;
}

p, h1, h2, h3, a {
  margin-top: 0;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.1em;
  line-height: 0.7em;
}

h2 {
  font-size: 36px;
  line-height: 1;
}

h3 {
  font-size: 0.875em;
  font-weight: bold;
  color: #7d7d7b;
  line-height: 1;
}

p {
  font-size: .8125em;
  line-height: 1.7em;
}

a {
  color: #8f8f8f;
  text-decoration: none;
  outline: none;
  line-height: 25px;
  font-size: .75em;
  font-weight: bold;

  &:hover {
    color: #2e2e2e;
  }

  &:active, &:focus, &.active {
    color: #2e2e2e
  }
}